<body class="container-fluid">

  <div id="main_visual" class="container carousel slide carousel-fade" style="padding-top:12px" data-ride="carousel">
    <ol class="carousel-indicators">
      <li data-target="#main_visual" data-slide-to="0" class="active"></li>
      <li data-target="#main_visual" data-slide-to="1"></li>
      <li data-target="#main_visual" data-slide-to="2"></li>
    </ol>
    <div class="carousel-inner">
      <div class="carousel-item active">
        <%= image_tag"diary_image.jpeg", class:"img-fluid d-block w-100", alt:"日記イメージ"%>
        <div class="carousel-caption d-none d-md-block">
          <h1 class="display-3 text-primary text-nowrap">日記を書いてみませんか？</h1>
          <p class="lead">-1日を思い出すことで記憶を整理して脳を休める効果があります。-</p>
        </div>
      </div>
    </div>
    <div class="carousel-inner">
      <div class="carousel-item">
        <%= image_tag"calendar_image.png", class:"img-fluid d-block w-100", alt:"カレンダーイメージ"%>
        <div class="carousel-caption d-none d-md-block">
          <h1 class="display-3">予定をまとめて管理</h1>
          <p class="lead">-Comming Soon-</p>
        </div>
      </div>
    </div>
    <div class="carousel-inner">
      <div class="carousel-item">
        <%= image_tag"share_image.webp", class:"img-fluid d-block w-100", alt:"シェアイメージ"%>
        <div class="carousel-caption d-none d-md-block">
          <h1 class="display-3">日常をシェアし、交流しよう</h1>
          <p class="lead">-Comming Soon-</p>
        </div>
      </div>
    </div>
    <a class="carousel-control-prev" href="#main_visual" role="button" data-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="sr-only">前に戻る</span>
    </a>
    <a class="carousel-control-next" href="#main_visual" role="button" data-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="sr-only">次へ進む</span>
    </a>
  </div>

  <div class="container">
    <div class="nav nav-tabs" role="tablist">
      <a class="nav-item nav-link active" id="diary-tab" data-toggle="tab" href="#diary" role="tab" aria-controls="diary" aria-selected="true">
        Diary</a>
      <a class="nav=item nav-link" id="calendar-tab" data-toggle="tab" href="#calendar" role="tab" aria-controls="calendar" aria-selected="true">
        Carendar</a>
    </div>
    <div class="tab-content" id="myTabContent">
     <div class="tab-pane fade show active border border-top-0" id="diary" role="tabpanel" aria-labelledby="diary-tab">
       <%= render 'shared/diary' %>
     </div>
     <div class="tab-pane fade border border-top-0" id="calendar" role="tabpanel" aria-labelledby="calendar-tab">
       <%= render 'shared/calendar' %>
     </div>
    </div>
  </div>
</body>