<p>
  <strong>Title:</strong>
  <%= @article.title %>
</p>

<p>
  <strong>Text:</strong>
  <%= @article.content %>
</p>

<% if user_signed_in? %>
  <% if current_user.id == @article.user_id %>
    <%= link_to '記事の編集', edit_article_path(@article) %>
    <%= link_to '記事の削除', article_path(@article), method: :delete, data: { confirm: '記事を削除しますか?' } %>
  <% end %>
<% end %>

<%= link_to 'トップページに戻る', root_path %>