<nav class="navbar navbar-expand-md navbar-dark bg-dark fixed-top">
  <p class="navbar-brand h3"><font style="vertical-align: inherit;">Nikki</font></p>

  <div class="collapse navbar-collapse" id="navbarsExampleDefault">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item">
        <font style="vertical-align: inherit;">
          <%= link_to "Home", root_path, class: "nav-link" %>
        </font>
      </li>
      <li class="nav-item">
        <font style="vertical-align: inherit;">
          <%= link_to '記事の作成', new_article_path, class: "nav-link" %>
        </font>
      </li>

      <% if user_signed_in? %>
        <li class="nav-item">
          <font style="vertical-align: inherit;">
            <%= link_to current_user.nickname, profile_path, class: "nav-link" %>
          </font>
        </li>
        <li class="nav-item">
          <font style="vertical-align: inherit;">
            <%= link_to "ログアウト", destroy_user_session_path, method: :get, class: "nav-link" %>
          </font>
        </li>
      <% else %>
        <li class="nav-item">
          <font style="vertical-align: inherit;">
            <%= link_to "新規登録", new_user_registration_path, class: "nav-link" %>
          </font>
        </li>
        <li class="nav-item">
          <font style="vertical-align: inherit;">
            <%= link_to "ログイン", new_user_session_path, class: "nav-link" %>
          </font>
        </li>
      <% end %>
    </ul>

    <form class="form-inline my-2 my-lg-0">
      <input class="form-control mr-sm-2" type="text" placeholder="探す" aria-label="探す">
      <button class="btn btn-secondary my-2 my-sm-0" type="submit"><font style="vertical-align: inherit;">探す</font></button>
    </form>
  </div>
</nav>

