<body class="text-center">
  <main style="padding-top:12px" class="container bg-light">
    <%= form_with model: @user, url: user_session_path, local: true do |f| %>
      <h1 class="display-4 py-5">ログイン</h1>
      <div class="form-row justify-content-center">
        <%= f.label "メールアドレス", class:"sr-only" %>
        <%= f.email_field :email, class:"form-control col-5", placeholder:"メールアドレス", autofocus: true %>
      </div>

      <div class="form-row justify-content-center">
        <%= f.label "パスワード",class:"sr-only" %>
        <%= f.password_field :password, class:"form-control col-5",placeholder:"パスワード" %>
      </div>

      <div class="row justify-content-center py-4">
        <% if devise_mapping.rememberable? %>
          <%# <%= f.check_box :remember_me %>
          <%# <%= f.label "ログイン状態を保持する" %>
        <% end %>
      </div>

        <%= f.submit "ログイン" ,class:"btn btn-primary" %>
    <% end %>
  </main>
</body>